body{
		background: #FEF5E7;  

		 }

	ol{
		color:  blue;
	}

	#lii{color: #273746;}

	#cl {
		background: maroon;
	}
	ul{background: #154360;

	}
	#tst {background: black}
	#trr {background: blue}

	h1 {text-align: center;
		color: black;}

	p{
		color: #34495E  ;
	}
	
	#h {
		float: right;
		background-color: #F1948A;
	}
	
	#l {
		float: left;
		background-image: url(https://cdn.dribbble.com/users/1188394/screenshots/3141403/portfolio-2-18_teaser.png);
	}

	#hi{
		
		font-size: 20px

	}

	#task8 {color: #1D8348;} 
		